/* Обнуляем границы у всех элементов */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box; /* Учитываем границы и отступы в размерах элементов */
}

/* Добавляем отступы с обеих сторон страницы */
.page-container {
  margin: 20px; /* Отступы по бокам для общего контейнера */
}

/* Стили для всех элементов, кроме баннера */
.element {
  border: 2px solid transparent; /* Обнуляем границу у элементов */
}

/* Стили для шапки */
header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

/* Стили для навигационного меню */
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul li {
  margin-right: 20px;
}

/* Отступ слева для пунктов меню "Направления" */
.directions-menu {
  margin-left: 15px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: color 0.3s; /* Добавляем анимацию для цвета текста */
}

nav ul li a:hover {
  color: #ff8c00; /* Новый цвет текста при наведении */
}

/* Стили для логотипа */
.logo {
  text-align: center;
  margin-left: 50px;
  flex: 1;
}

.logo img {
  max-width: 20%;
  height: auto;
}

/* Стили для контактных данных */
.contact {
  display: flex;
  align-items: center;
}

.contact a {
  margin-right: 10px;
  text-decoration: none;
  color: #000;
}

/* Стили для кнопки с номером */
.phone {
  padding: 15px 40px;
  border-radius: 25px;
  border: 2px solid #000; /* Граница у кнопки */
  transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Добавляем анимацию для background-color, color и transform */
}

.phone:hover {
  background-color: #ffffff; /* Новый цвет фона при наведении */
  color: rgb(0, 0, 0); /* Новый цвет текста при наведении */
  transform: scale(1.05); /* Увеличиваем кнопку при наведении (можете изменить значение по вашему вкусу) */
}

/* Стили для баннера */
.banner {
  background-color: black; /* Задаем черный цвет фона */
  color: white; /* Задаем белый цвет текста */
  margin-top: 10px; /* Отступ сверху для баннера */
  margin-right: 40px; /* Отступ справа для баннера */
  margin-bottom: 20px; /* Отступ снизу для баннера */
  margin-left: 40px; /* Отступ слева для баннера */
  border-radius: 25px;
  height: 750px; /* Высота баннера */
  text-align: left; /* Выравнивание текста по левому краю баннера */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Выравнивание текста и кнопок в верхний угол */
  align-items: flex-start; /* Выравнивание текста и кнопок в левый угол */
  padding: 20px; /* Отступ внутри баннера */
  position: relative; /* Позиционируем баннер как relative, чтобы разместить текст и изображение внутри */
}

.banner p.bold {
  font-size: 72px; /* Размер шрифта для текста внутри баннера */
  margin: 0; /* Обнуляем внешние отступы абзаца внутри баннера */
  font-weight: bold; /* Жирный шрифт */
  margin-left: 40px;
  margin-top: 40px;
}

.button-container {
  margin-top: 0px; /* Отступ сверху для контейнера с кнопками */
  margin-left: 0px;
}

/* Стили для кнопки "Оставить заявку" */
.request-button {
  background-color: orange; /* Оранжевый цвет фона */
  color: white; /* Белый цвет текста */
  padding: 15px 40px; /* Отступы внутри кнопки */
  border: 0px solid white; /* Белая обводка кнопки */
  border-radius: 25px; /* Скругление углов кнопки */
  margin-left: 40px;
  margin-top: 40px;
  font-weight: bold; /* Жирный шрифт */
  font-size: 16px; /* Размер шрифта */
  cursor: pointer; /* Изменяем курсор при наведении на кнопку */
  transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Добавляем анимацию для background-color, color и transform */
}

.request-button:hover {
  background-color: #ff8c00; /* Новый цвет фона при наведении */
  color: white; /* Новый цвет текста при наведении */
  transform: scale(1.05); /* Увеличиваем кнопку при наведении (можете изменить значение по вашему вкусу) */
}

/* Стили для кнопки "Отследить груз" */
.track-button {
  background-color: transparent; /* Прозрачный фон */
  color: white; /* Белый цвет текста */
  padding: 15px 40px; /* Отступы внутри кнопки */
  border: 2px solid white; /* Белая обводка кнопки */
  border-radius: 25px; /* Скругление углов кнопки */
  margin-left: 40px;
  margin-top: 20px;
  font-weight: bold; /* Жирный шрифт */
  font-size: 16px; /* Размер шрифта */
  cursor: pointer; /* Изменяем курсор при наведении на кнопку */
  transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Добавляем анимацию для background-color, color и transform */
}

.track-button:hover {
  background-color: #000000; /* Новый цвет фона при наведении */
  color: white; /* Новый цвет текста при наведении */
  transform: scale(1.05); /* Увеличиваем кнопку при наведении (можете изменить значение по вашему вкусу) */
}

/* Стили для текста "200+" и "50+" */
.bold {
  margin: 0;
  margin-left: 40px;
  margin-top: -10px;
  font-size: 72px;
  font-weight: bold;
}

/* Стили для информации о партнерах и покрытии */
.partner-info, .coverage-info {
  font-size: 16px;
  font-weight: normal;
  margin-left: 40px;
  margin-top: 0px;
}

/* Стили для текста в правом верхнем углу */
.banner-text-container {
  position: absolute; /* Позиционируем абсолютно внутри баннера */
  top: 60px; /* Отступ сверху */
  right: 60px; /* Отступ справа */
}

.banner-text {
  font-size: 20px;
  font-weight: normal;
  text-align: right; /* Выравнивание по правому краю */
  margin: 0;
  color: white; /* Белый цвет текста */
}

/* Стили для изображения в правом нижнем углу */
.banner-image {
  position: absolute; /* Позиционируем абсолютно внутри баннера */
  bottom: 20px; /* Отступ снизу */
  right: 150px; /* Отступ справа */
  max-width: 1000px; /* Максимальная ширина изображения */
  height: auto;
}

/* Для текста используйте системный шрифт San Francisco или аналогичный */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  /* Этот список шрифтов будет автоматически использовать San Francisco на macOS и iOS */
}

/* Стили для блока "О нас" */
.about-us {
  display: flex; /* Делаем блок "О нас" flex-контейнером */
  margin: 40px 0;
}

/* Стили для левой и правой частей блока "О нас" */
.about-us-left, .about-us-right {
  padding: 20px;
  flex: 1; /* Задаём гибкость элементам внутри flex-контейнера */
}

.about-us-title {
  font-size: 36px;
  font-weight: bold;
  margin-left: 90px;
  margin-bottom: 20px;
}

.company-name {
  color: #f2a93b;
}

.about-us-description,
.about-us-details {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 20px;
  margin-right: 90px;
  font-weight: bold;
}

.timeline-container {
  position: relative;
  width: 100%; 
  height: 2000px; 
}

.timeline-line {
  position: absolute;
  left: 49.9%;
  top: 450px;
  bottom: 0;
  width: 3px;
  background-color: #65656554; /* Цвет линии */
}

.timeline-item {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.item1 { top: 450px; }
/* Стили для item2, item3 и т.д. */

.timeline-icon {
  position: absolute;
  display: flex;
  align-items: center; /* Центрирование по вертикали */
  justify-content: center; /* Центрирование по горизонтали */
  font-size: 16px; /* Регулируйте размер шрифта по нужде */
  color: black; /* Цвет текста */
  top: 20px;
  left: 150px; /* Смещение от центра линии */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #000;
  transform: translate(-50%, -50%);
}

.timeline-content {
  position: relative;
  width: 300px;
  padding: 20px;
  background-color: #dadada;
  border-radius: 25px;
  box-shadow: (0, 0, 0, 0.2);
  left: -550px; /* Можно настроить для размещения справа или слева от линии */
}

.truck {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.truck img {
  width: 200px; /* Ширина грузовика */
  height: auto; /* Высота грузовика */
}
